.block {
  background-color: $color-white;
  width: 350px;
  margin: 30px 0;
  border-radius: 7px;
  overflow: hidden;
  opacity: 0.85;

  &__title {
    background-color: $color-orange-light;
    width: 100%;
    height: 60px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    margin: 0;
    // overflow: hidden;
  }

  &__item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 23px;

    &-footer {
      width: 370px;
      margin-bottom: 5px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
  }

  &__dsc {
    color: gray;
  }

  &__input {
    pointer-events: visible;
    width: 90px;
    margin-top: 7px;
    color: $color-grey;
    font-size: 20px;
  }

  &__price-materials {
    display: flex;
    margin: 15px;
    margin-top: 25px;
    justify-content: space-around;
    height: 29px;
  }

  &__cost-materials,
  &__selling-price {
    width: 146px;
    pointer-events: visible;
    font-size: 20px;
    color: $color-grey;
  }

  &__info {
    margin: 0;
    @include font-style($color-grey);
    width: 146px;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    @include font-style($color-grey);

    &_profit {
      text-align: center;
      @include font-style($color-grey);
    }
  }

  &__tape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 23px;
  }

  &__name {
    font-size: 20px;
    margin: 0;

    &-format {
      color: $color-grey;
      font-size: 25px;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 957px) {
  // .package {
  //   position: absolute;
  //   top: 200px;
  //   right: auto;
  // }
  // .tape {
  //   margin-bottom: 50px;
  //   position: absolute;
  //   top: 800px;
  //   right: auto;

  // }
  // .block {
  //   overflow: visible;
  // }
  .package {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .tape {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}
